extends layout

block content
	section#main
		h1= title
		p The practice tests offered on this site will prepare you with the knowledge to pass your permit test put you on the road to becoming a safe driver.
