body {
	padding: 0;
	margin: 0;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
	font-size: 2em;
	margin: 0;
}
h2 {
	font-size: 1.5em;
}
hr {
	margin: 0;
}
ul li {
	margin: .5em 0;
}
	
header, footer {
	background-color: #ccc;
}
header div#header {
	padding: .5em 1em;
}
header p {
	margin: 0;
	padding: 4% 0;
}
header div.header-left, header div.header-right {
	display: inline-block;
}
header div.header-left {
	width: 30%;
}
header div.header-left img {
	width: 100%;
}
header div.header-right {
	width: 70%;
	text-align: right;
	vertical-align: top;
}
footer {
	border-top: 2px groove #ccc;
}
footer div.footer-left, footer div.footer-right {
	width: 48%;
	display: inline-block;
	padding: 0 1%;
}
nav {
	text-align: center;
	background-color: #ccc;
	border-bottom: 2px groove #ccc;
	border-top: 2px groove #ccc;
}
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
nav ul li {
	display: inline-block;
	padding: 0 5%;
	margin: .5em 0;
}
nav ul li a {
	color: yellow;
	text-decoration: none;
}
nav ul li a:hover {
	text-decoration: underline;
}
a {
  color: #00B7FF;
}
section#main {
	padding: .25em .5em;
}
section#main p:last-child {
	margin-bottom: 0;
}
input[type=submit] {
	text-shadow: 0 1px 1px #fff;
	cursor: pointer;
	padding: 5px 15px;
	background: #fc0; 
	border: 0 none;
	-webkit-border-radius: 5px;
	border-color: #ddd #bbb #999;
	border-radius: 5px;
	border-style: solid;
	background-image: none;
	background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fc0 0px, yellow 100%) repeat scroll 0 0;
}
input[type=submit]:hover {
	background-image: radial-gradient(circle farthest-side at center center, #fff 21%, #fc0 100%);
}
input[type=submit]:active {
	box-shadow: 0 2px 2px #888 inset;
}
section#main div.home-page {
}
section#main {
	background-image: url('../images/road.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
section#main div.test > p {
	padding-left: 1em;
	margin: .5em 0;
}
/*********************************************************
 * Styling for answers.
 *********************************************************/
form#selectAnswer div.answer-block {
	margin-left: .5em;
}
form#selectAnswer div.answer {
	display: block;
	margin-top: .5em;
}
form#selectAnswer div.answer-failure {
	background-color: #ff6600;
}
form#selectAnswer div.answer-success {
	background-color: #66ff00;
}
div.answer input {
	margin-right: .75em;
}
/*********************************************************
 * Styling for admin view.
 *********************************************************/
section#main table#admin-attempts {
 	border-collapse: collapse;
 	border: solid 1px black;
}
section#main table#admin-attempts td {
  	border: solid 1px black;
}
section#main tr.answer-true {
  	background-color: #66ff00;
}
section#main tr.answer-false {
  	background-color: #ff6600;
}
section#main div.test {
	background-image: url('../images/notebook.png');
	background-repeat: no-repeat;
	background-size: cover;
}
section#main div.test > div {
	padding: .25em 1em;
}
section#main span.reset-link {
	color: blue;
	text-decoration: underline;
}
section#main span.reset-link:hover {
	cursor: pointer;
}
/*********************************************************
 * Styling for mobile view.
 *********************************************************/
@media only screen
	and (max-width: 400px) {
header div.header-left, header div.header-right {
	width: 100%;
}
footer div.footer-left, footer div.footer-right {
	width: 100%;
	text-align: center;
}
footer p {
	margin: .5em 0;
}
header div.header-right {
	text-align: center;
}

